In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score
from sklearn.metrics import confusion_matrix
# from mlxtend.plotting import plot_confusion_matrix

In [2]:
df1=pd.read_csv("Training-SimDataset.csv")

In [3]:
df1

,Occupancy,Appliance ID,Sin(time),Cos(time),Sin(day),Cos(day),Power consumption,Normalized power,P(t)-P(t-1),P(t)-P(t+1),Class Label
0,0,1,-0.96593,2.588200e-01,-0.999250,0.038722,100,-0.17234,0,0,4
1,1,5,1.00000,6.120000e-17,-0.816540,-0.577290,685,0.15266,-675,-631,0
2,0,4,-0.50000,-8.660300e-01,-0.263670,-0.964610,719,0.17155,206,-629,4
3,1,4,0.25882,9.659300e-01,-0.094537,-0.995520,771,0.20044,200,-190,0
4,0,3,-0.70711,-7.071100e-01,0.811540,0.584300,5,-0.22512,2,-1,0
...,...,...,...,...,...,...,...,...,...,...,...
84091,0,1,-0.86603,-5.000000e-01,0.811540,0.584300,100,-0.17234,100,0,1
84092,1,4,0.70711,7.071100e-01,-0.845250,-0.534370,740,0.18322,-524,-51,0
84093,1,5,-0.96593,2.588200e-01,-0.068802,0.997630,1181,0.42822,48,501,0
84094,1,0,0.25882,-9.659300e-01,0.806480,-0.591260,0,-0.22789,0,0,0
84095,0,0,-1.00000,-1.840000e-16,0.936880,-0.349650,60,-0.19456,0,0,4

In [4]:
x_train=df1.iloc[:,:-1]
y_train=df1.iloc[:,-1:]

In [ ]:
# scaler = MinMaxScaler()
# x_s = scaler.fit_transform(x)

In [5]:
len(x_train),len(y_train)

(84096, 84096)

In [6]:
import pickle

In [7]:
# Random Forest Model
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier(n_estimators= 100, criterion="entropy")
classifier.fit(x_train, y_train)

C:\Users\admin\AppData\Local\Temp\ipykernel_16920\2458475876.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy')

In [8]:
classifier_a = RandomForestClassifier(n_estimators=200, criterion="entropy")
classifier_a.fit(x_train, y_train)

C:\Users\admin\AppData\Local\Temp\ipykernel_16920\2845877680.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier_a.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [9]:
classifier_b = RandomForestClassifier(n_estimators=100, criterion="gini")
classifier_b.fit(x_train, y_train)

C:\Users\admin\AppData\Local\Temp\ipykernel_16920\3886109723.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier_b.fit(x_train, y_train)

RandomForestClassifier()

In [10]:
pt='RF.sav'
pickle.dump(classifier,open(pt,'wb'))

In [11]:
df2=pd.read_csv("Testing-SimDataset.csv")

In [12]:
df2

,Occupancy,Appliance ID,Sin(time),Cos(time),Sin(day),Cos(day),Power consumption,Normalized power,P(t)-P(t-1),P(t)-P(t+1),Class Label
0,1,0,0.50000,-0.86603,0.89198,0.45207,0,-0.22789,0,0,0
1,0,1,0.86603,-0.50000,-0.29671,-0.95497,0,-0.22789,0,0,0
2,0,1,0.86603,0.50000,0.78030,0.62541,0,-0.22789,0,0,0
3,1,4,0.25882,-0.96593,0.92097,0.38963,0,-0.22789,0,0,0
4,1,3,0.50000,-0.86603,-0.78565,-0.61867,4,-0.22567,0,-1652,0
...,...,...,...,...,...,...,...,...,...,...,...
21019,1,0,0.50000,0.86603,-0.24702,-0.96901,0,-0.22789,0,0,0
21020,0,3,0.96593,0.25882,0.98293,-0.18400,2,-0.22678,-3,0,0
21021,1,2,0.86603,-0.50000,-0.95623,0.29260,1,-0.22734,-254,-2,2
21022,1,0,0.86603,-0.50000,0.58080,0.81405,0,-0.22789,0,0,0
21023,1,1,-0.86603,0.50000,-0.44052,-0.89774,100,-0.17234,0,0,0

In [13]:
x_test=df2.iloc[:,:-1]
y_test=df2.iloc[:,-1:]

In [14]:
y_pred= classifier.predict(x_test)
y_pred_a= classifier_a.predict(x_test)
y_pred_b= classifier_b.predict(x_test)

In [15]:
#Confusion Matrix - verify accuracy of each class
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[11926     0     0     0     0]
 [    0  1577     0     0     0]
 [    0     0  1536     0     0]
 [    0     0     0  1261     0]
 [    0     2     0     0  4722]]

In [16]:
from sklearn.metrics import classification_report

# print(class_labels)
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      1.000     1.000     1.000     11926
     Class 1      0.999     1.000     0.999      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      1.000     1.000     1.000      1261
     Class 4      1.000     1.000     1.000      4724

    accuracy                          1.000     21024
   macro avg      1.000     1.000     1.000     21024
weighted avg      1.000     1.000     1.000     21024

In [17]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred_a, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      1.000     1.000     1.000     11926
     Class 1      0.999     1.000     0.999      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      1.000     1.000     1.000      1261
     Class 4      1.000     1.000     1.000      4724

    accuracy                          1.000     21024
   macro avg      1.000     1.000     1.000     21024
weighted avg      1.000     1.000     1.000     21024

In [18]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred_b, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      1.000     1.000     1.000     11926
     Class 1      0.998     1.000     0.999      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      1.000     1.000     1.000      1261
     Class 4      1.000     0.999     1.000      4724

    accuracy                          1.000     21024
   macro avg      1.000     1.000     1.000     21024
weighted avg      1.000     1.000     1.000     21024

In [ ]:
################################################################################################################################

In [19]:
from sklearn.svm import SVC
classifier1 = SVC(kernel='rbf',random_state=1)
classifier1.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(random_state=1)

In [20]:
classifier1_a = SVC(kernel='rbf', C=0.1, random_state=1)
classifier1_a.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=0.1, random_state=1)

In [22]:
classifier1_b = SVC(kernel='linear', random_state=1)
classifier1_b.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear', random_state=1)

In [59]:
from sklearn.svm import SVC
classifier1_c = SVC(kernel='poly',random_state=1)
classifier1_c.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly', random_state=1)

In [23]:
pt='SVM.sav'
pickle.dump(classifier1,open(pt,'wb'))

In [24]:
y_pred1= classifier1.predict(x_test)
y_pred1_a= classifier1_a.predict(x_test)
y_pred1_b= classifier1_b.predict(x_test)

In [60]:
y_pred1_c= classifier1_c.predict(x_test)

In [25]:
#Confusion Matrix - verify accuracy of each class
cm = confusion_matrix(y_test, y_pred1)
print(cm)

[[10615     2     0   219  1090]
 [    0  1577     0     0     0]
 [    4     0  1532     0     0]
 [   39     5     0  1154    63]
 [ 3474     5     0   105  1140]]

In [26]:
from sklearn.metrics import classification_report

# print(class_labels)
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred1, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.751     0.890     0.815     11926
     Class 1      0.992     1.000     0.996      1577
     Class 2      1.000     0.997     0.999      1536
     Class 3      0.781     0.915     0.843      1261
     Class 4      0.497     0.241     0.325      4724

    accuracy                          0.762     21024
   macro avg      0.804     0.809     0.795     21024
weighted avg      0.732     0.762     0.733     21024

In [27]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred1_a, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.738     0.919     0.819     11926
     Class 1      0.916     0.999     0.955      1577
     Class 2      0.961     0.986     0.974      1536
     Class 3      0.784     0.790     0.787      1261
     Class 4      0.476     0.163     0.243      4724

    accuracy                          0.752     21024
   macro avg      0.775     0.771     0.755     21024
weighted avg      0.712     0.752     0.709     21024

In [28]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred1_b, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.976     0.982     0.979     11926
     Class 1      0.999     1.000     1.000      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      0.583     0.581     0.582      1261
     Class 4      0.949     0.934     0.941      4724

    accuracy                          0.950     21024
   macro avg      0.901     0.899     0.900     21024
weighted avg      0.950     0.950     0.950     21024

In [61]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred1_c, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.644     0.971     0.775     11926
     Class 1      0.999     0.453     0.623      1577
     Class 2      1.000     0.426     0.598      1536
     Class 3      0.684     0.776     0.727      1261
     Class 4      0.591     0.032     0.061      4724

    accuracy                          0.670     21024
   macro avg      0.784     0.532     0.557     21024
weighted avg      0.687     0.670     0.587     21024

In [29]:
################################################################################################################################

In [30]:
from sklearn.neighbors import KNeighborsClassifier  
classifier2= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier2.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [31]:
classifier2_a = KNeighborsClassifier(n_neighbors=10, metric='minkowski', p=2)
classifier2_a.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=10)

In [32]:
classifier2_b = KNeighborsClassifier(n_neighbors=5, metric='manhattan', p=2)
classifier2_b.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(metric='manhattan')

In [33]:
pt='KNN.sav'
pickle.dump(classifier2,open(pt,'wb'))

In [34]:
y_pred2= classifier2.predict(x_test)
y_pred2_a= classifier2_a.predict(x_test)
y_pred2_b= classifier2_b.predict(x_test)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [35]:
#Confusion Matrix - verify accuracy of each class
cm = confusion_matrix(y_test, y_pred2)
print(cm)

[[10152     0     0   100  1674]
 [    0  1577     0     0     0]
 [    0     0  1536     0     0]
 [   48     0     0  1194    19]
 [ 1624     1     0    51  3048]]

In [36]:
from sklearn.metrics import classification_report

# print(class_labels)
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred2, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.859     0.851     0.855     11926
     Class 1      0.999     1.000     1.000      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      0.888     0.947     0.916      1261
     Class 4      0.643     0.645     0.644      4724

    accuracy                          0.833     21024
   macro avg      0.878     0.889     0.883     21024
weighted avg      0.833     0.833     0.833     21024

In [37]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred2_a, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.836     0.884     0.859     11926
     Class 1      0.999     1.000     1.000      1577
     Class 2      1.000     0.999     1.000      1536
     Class 3      0.878     0.956     0.915      1261
     Class 4      0.671     0.559     0.610      4724

    accuracy                          0.832     21024
   macro avg      0.877     0.880     0.877     21024
weighted avg      0.826     0.832     0.827     21024

In [38]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred2_b, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.867     0.861     0.864     11926
     Class 1      0.999     1.000     1.000      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      0.898     0.960     0.928      1261
     Class 4      0.664     0.665     0.665      4724

    accuracy                          0.843     21024
   macro avg      0.886     0.897     0.891     21024
weighted avg      0.843     0.843     0.843     21024

In [39]:
################################################################################################################################

In [40]:
from sklearn.naive_bayes import GaussianNB  
classifier3 = GaussianNB()  
classifier3.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [41]:
classifier3_a = GaussianNB(var_smoothing=1e-8)
classifier3_a.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(var_smoothing=1e-08)

In [42]:
from sklearn.naive_bayes import MultinomialNB
classifier3_b = MultinomialNB()
classifier3_b.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Negative values in data passed to MultinomialNB (input X)

In [43]:
classifier3_c = GaussianNB(var_smoothing=1e-7)
classifier3_c.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(var_smoothing=1e-07)

In [44]:
pt='NB.sav'
pickle.dump(classifier3,open(pt,'wb'))

In [45]:
y_pred3 = classifier3.predict(x_test)
y_pred3_a = classifier3_a.predict(x_test)
y_pred3_c = classifier3_c.predict(x_test)

In [46]:
#Confusion Matrix - verify accuracy of each class
cm = confusion_matrix(y_test, y_pred3)
print(cm)

[[3754  200 6576 1318   78]
 [ 445  506    0  106  520]
 [   0    0 1536    0    0]
 [  96    0    0  944  221]
 [   0    0    0  168 4556]]

In [47]:
from sklearn.metrics import classification_report

# print(class_labels)
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred3, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.874     0.315     0.463     11926
     Class 1      0.717     0.321     0.443      1577
     Class 2      0.189     1.000     0.318      1536
     Class 3      0.372     0.749     0.497      1261
     Class 4      0.848     0.964     0.902      4724

    accuracy                          0.537     21024
   macro avg      0.600     0.670     0.525     21024
weighted avg      0.776     0.537     0.552     21024

In [48]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred3_a, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.870     0.319     0.467     11926
     Class 1      0.724     0.332     0.455      1577
     Class 2      0.190     1.000     0.319      1536
     Class 3      0.372     0.806     0.509      1261
     Class 4      0.861     0.931     0.894      4724

    accuracy                          0.537     21024
   macro avg      0.603     0.678     0.529     21024
weighted avg      0.777     0.537     0.554     21024

In [49]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred3_c, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.631     0.345     0.446     11926
     Class 1      0.752     0.352     0.479      1577
     Class 2      0.194     1.000     0.325      1536
     Class 3      0.368     0.835     0.511      1261
     Class 4      0.921     0.582     0.713      4724

    accuracy                          0.476     21024
   macro avg      0.573     0.623     0.495     21024
weighted avg      0.658     0.476     0.504     21024

In [ ]:
################################################################################################################################

In [50]:
from sklearn.tree import DecisionTreeClassifier
classifier4= DecisionTreeClassifier(criterion='entropy', random_state=0)
classifier4.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [51]:
classifier4_a = DecisionTreeClassifier(criterion='gini', random_state=0)
classifier4_a.fit(x_train, y_train)

DecisionTreeClassifier(random_state=0)

In [52]:
classifier4_b = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)
classifier4_b.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)

In [53]:
pt='DT.sav'
pickle.dump(classifier4,open(pt,'wb'))

In [54]:
y_pred4= classifier4.predict(x_test)
y_pred4_a= classifier4_a.predict(x_test)
y_pred4_b= classifier4_b.predict(x_test)

In [55]:
#Confusion Matrix - verify accuracy of each class
cm = confusion_matrix(y_test, y_pred4)
print(cm)

[[11924     2     0     0     0]
 [    1  1573     0     0     3]
 [    0     0  1536     0     0]
 [    1     0     0  1259     1]
 [    0     2     0     1  4721]]

In [56]:
from sklearn.metrics import classification_report

# print(class_labels)
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred4, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      1.000     1.000     1.000     11926
     Class 1      0.997     0.997     0.997      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      0.999     0.998     0.999      1261
     Class 4      0.999     0.999     0.999      4724

    accuracy                          0.999     21024
   macro avg      0.999     0.999     0.999     21024
weighted avg      0.999     0.999     0.999     21024

In [57]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred4_a, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      1.000     1.000     1.000     11926
     Class 1      0.996     0.997     0.996      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      0.998     0.994     0.996      1261
     Class 4      0.999     0.999     0.999      4724

    accuracy                          0.999     21024
   macro avg      0.999     0.998     0.998     21024
weighted avg      0.999     0.999     0.999     21024

In [58]:
target_names = ['Class 0', 'Class 1', 'Class 2', 'Class 3', 'Class 4']
print(classification_report(y_test, y_pred4_b, target_names=target_names,digits=3))

              precision    recall  f1-score   support

     Class 0      0.984     0.966     0.975     11926
     Class 1      0.771     0.747     0.759      1577
     Class 2      1.000     1.000     1.000      1536
     Class 3      0.881     0.800     0.839      1261
     Class 4      0.922     0.998     0.959      4724

    accuracy                          0.949     21024
   macro avg      0.912     0.902     0.906     21024
weighted avg      0.949     0.949     0.949     21024

In [62]:
################################################################################################################################